@font-face {
    font-family: 'PokemonSolid';
    src: url('../Fonts/PokemonSolid.ttf');
}

.navigation {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: #3b82c4;
}

#logo {
    position: absolute;
    left: 2%;
    width: 12.6%;
    top: -12%;
    font-size: 2vw;
    font-family: 'PokemonSolid';
    text-decoration: none;
    color: #fdd23c;
}

#pokemonSearchBox {
    position: absolute;
    top: 500px;
    width: 500px;
    height: 500px;
}