@font-face {
    font-family: 'LeagueSpartan';
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
}

body{
    background-color: #d1092b;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

#centerScreen{
    position: absolute;
    background-color: #d3d3d3;
    top: 27%;
    left: 30%;
    width: 40%;
    height: 50%;
    border-radius: 2%;
}

#centerBlackScreen{
    position: absolute;
    background-color:#212121;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    border-radius: 5%;
}

#redCircleCentralScreen{
    position: absolute;
    background-color: #cf0014;
    top: 88%;
    width: 5%;
    height: 10%;
    left: 10%;
    border-color: #212121;
    border-radius: 100%;
}

#greenScreen{
    position: absolute;
    width: 11.2%;
    height: 10%;
    top: 85%;
    left: 33%;
    background-color: #4da55a;
    font-size: 5vw;
}

#searchButton{
    position: absolute;
    width: 5%;
    height: 10%;
    top: 80%;
    left: 23%;
    border-radius: 100%;
    background-color: #212121;
}

#firstLine{
    position: absolute;
    top: 88%;
    left: 84%;
    width: 5%;
    height: 1%;
    background-color: #212121;
}

#secondLine{
    position: absolute;
    top: 89.9%;
    left: 84%;
    width: 5%;
    height: 1%;
    background-color: #212121;
}

#thirdLine{
    position: absolute;
    top: 92%;
    left: 84%;
    width: 5%;
    height: 1%;
    background-color: #212121;
}

#fourthLine{
    position: absolute;
    top: 94%;
    left: 84%;
    width: 5%;
    height: 1%;
    background-color: #212121;
}

#darkRedLine{
    position: absolute;
    top: 80%;
    left: 30%;
    width: 7%;
    height: 1%;
    border-radius: 12%;
    background-color: #700315;
}

#darkBlueLine{
    position: absolute;
    top: 80%;
    left: 40.5%;
    width: 7%;
    height: 1%;
    border-radius: 12%;
    background-color: #114b70;
}

#topJoyStick{
    position: absolute;
    top: 82%;
    left: 65%;
    width: 2.5%;
    height: 15%;
    background-color: #212121;
}

#horizontalJoyStick{
    position: absolute;
    top: 87%;
    left: 61.3%;
    width: 10%;
    height: 4.5%;
    background-color: #212121;
}

#centerBlackScreen p{
    position: relative;
    left: 27%;
    top: 20%;
    color: white;
    font-family: 'LeagueSpartan';
    border-color: #212121;
}
